SET NOCOUNT ON

USE [dba_local]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

DROP PROCEDURE IF EXISTS [dbo].[uspDBMon_DailyCapture]
GO

CREATE proc [dbo].[uspDBMon_DailyCapture]
AS
	/*
		Author	:	Raghu Gopalakrishnan
		Date	:	30th May 2019
		Purpose	:	This Stored Procedure is used by the DBMon tool
		Version	:	1.0 DC		
		License:
		This script is provided "AS IS" with no warranties, and confers no rights.
					EXEC [dbo].[uspDBMon_DailyCapture]
	
		Modification History
		----------------------
		May	30th, 2019	:	v1.0	:	Raghu Gopalakrishnan	:	Inception
	*/

SET NOCOUNT ON

EXEC [dbo].[uspDBMon_GetDatabaseSize]

UPDATE	[dbo].[tblDBMon_SP_Version]
SET		[Last_Executed] = GETDATE()
WHERE	[SP_Name] = OBJECT_NAME(@@PROCID)
GO

INSERT INTO [dbo].[tblDBMon_SP_Version] ([SP_Name], [SP_Version], [Last_Executed], [Date_Modified], [Modified_By])
VALUES ('uspDBMon_DailyCapture', '1.0 DC', NULL, GETDATE(), SUSER_SNAME())
GO

EXEC sp_addextendedproperty 
		@name = 'Version', @value = '1.0 DC', 
		@level0type = 'SCHEMA', @level0name = 'dbo', 
		@level1type = 'PROCEDURE', @level1name = 'uspDBMon_DailyCapture'
GO
